* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0f0f;
    color: white;
    font-family: Arial;
}

.video-box {
    width: 350px;
}

.video-box .thumbnail, .video-box .thumbnail img {
    width: 100%;
}

.video-box .thumbnail img {
    border-radius: 10px;
    object-fit: cover;
}

.content {
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-top: 8px;
    column-gap: 10px;
}

.content .channel-img, .channel-img img {
    width: 100%;
    border-radius: 20px;
}

.content .text h2 {
    font-size: 1rem;
}

.content .text p {
    font-size: 0.85rem;
}

.time::before {
    content: "•";
    margin: 0 4px;
}

main {
    padding: 100px 30px 0 200px;
}

.videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
}