@mixin zero-config($margin-param, $padding-param) {
    margin: $margin-param;
    padding: $padding-param;
}

@mixin div-size($w, $h) {
    width: $w;
    height: $h;
}

body {
    @include zero-config(0, 0);
}

.container {
    @include div-size(80%, 100vh);
    margin: 0 auto;
    background-color: #e7e7e7;

    .box {
        @include div-size(300px, 200px);
        background-color: purple;
    }
}